* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #f7f7f7;
}

.header {
  background-color: #2a56a7;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.24);
  display: flex;
  height: 56px;
  justify-content: center;
}

.header-options {
  display: flex;
  justify-content: space-evenly;
  width: 390px;
}

.header-options button {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 189px;
}

.header-options .span {
  color: white;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: space-evenly;
  width: 60%;
}

.bottom-line {
  background-color: white;
  border-radius: 10px 10px 0 0;
  height: 3px;
  margin-right: 189px;
  position: absolute;
  top: 53px;
  transform: translateX(0);
  transition-duration: 0.2s;
  transition-timing-function: ease;
  width: 189px;
}
